body{
    font-family: Monoserrat, serif;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../image/img6.jpg);
}
.navbar-nav{
    text-align: right;
}
.navbar-header{
    font-size: 10px;
}
.navbar-brand{
    font-size: 30px;
}
.nav-item{
    padding: 0 5px;
}
a{
    color: #fff;
}
a:hover{
    text-decoration: none;
}
.btn_1{
    margin: 0 auto;
    display: block;
    width: 100px;
    height: 50px;
    text-align: center;
    background-color:#3abdfd;
    border-radius: 5px;
    font-size: 20px;
    color: #000;
}
.container{
    width: 450px;
    height: 550px;
    background-color: rgb(0, 0, 0, .5);
    margin: 100px auto 0 auto;
    text-align: center;
    box-shadow: 0 -5px 0 #3abdfd;
    border-radius: 0 0 10px 10px;
    padding-bottom: 20px;
}
.container img{
    width: 120px;
    height: 120px;
    margin: -60px 0 30px 0;
    border: 5px solid #1a394f;
    border-radius: 50%;
}
input[type="number"], input[type="number"]{
    width: 300px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 25px;
    border-radius: 4px;
    padding-left: 40px;
}
input[type="text"], input[type="password"]{
    width: 300px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 25px;
    border-radius: 4px;
    padding-left: 40px;
}
.dws-submit{
    padding: 13px 30px;
    margin: 5px 0 20px;
    font-size: 15px;
    color: #fff;
    background-color: #2ca8c6;
    border: none;
    border-bottom: 4px solid #6ee9fd;
    cursor: pointer;
}
.dws-submit:hover{
    transition: all 0.5s;
    background: #fff;
    color: #2c536c;
}
.dws-input::before{
    font-family: FontAwesome, serif;
    position: absolute;
    font-size: 30px;
    padding: 10px 0 0 7px;
    color: #2c536c;
}
.dws-input:hover::before{
    color:#319ebc;
    transition: all 0.3s;
}
.social i:hover{
    background-color: #fff;
    color: #1a394f;
    border-radius: 5px;
    cursor: pointer;
}
