#logo {
  margin: 5px;
  float: left;
  height: 90px;
  width: auto;
}
.mine{
	width:100px;
}
.bg-green {
  background-color: #4D5656;
}
.brand{
  font-family: serif;
}
.d-flex{
  color: #097B4A;
}
.tabcontent{
	position: relative;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
div{
	display: block;
}
body{
	font: 13px Arial;
	background: #e8e8e8;
}
.tabcontent .tab-item{
	display: none;
}
.wooklist{
	margin-right: -0.4%;
	position: relative;
	padding: 35px 33px 33px 35px;
	box-sizing: content-box;
}
.wooklist ul{
	list-style-type: none;
	position: relative;
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
.wooklist .minibook li{
	width: 350px;
}
.wooklist ul li{
	display: inline-block;
	vertical-align: text-top;
}
.wooklist ul li .wrap{
	background: #fff;
	border: 1px solid #dedede;
	padding: 15px;
	margin: 0 20px 20px 0;
	position: relative;
}
.wooklist .minibook .img{
	padding: 0 0 10px 0;
}
a::link{
	-webkit-tap-highlight-color: #fcd700;
}
a{
	color: #bd236c;
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.wooklist .minibook .img img{
	display: block;
	margin: 0 auto;
}
img, object, embed{
	max-width: 100%;
}
.cwl{
	text-align: center;
	position: relative;
	margin-top: 10px;
	font-family: serif;
}
.wooklist .minibook .book_info{
	padding: 0;
	margin: 0 0 5px 0;
	width: auto;
}
.clearfix{
	zoom: 1;
}
.clearfix:before{
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}
.wooklist .minibook .book_info >p{
	padding: 0;
	margin: 0 0 5px 0;
}
.book_info .date_add{
	font-size: 11px;
	color: #999;
}
p{
	margin-bottom: 10px;
}
.booktitle{
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 10px;
}

.s3{
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)), url(../img/img1.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
	
}
nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}
nav img{
	width: 100px;
}
.nav-links{
	flex: 1;
	text-align: right;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 13px;
}
.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #808080;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.nav-links ul li:hover::after{
	width: 100%;
}
.text-box{
	width: 90%;
	color: #FFFFFF;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.text-box h1{
	font-size: 22px;
	font-family: serif;
}
.bestbooks{
	width: 88%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
.imgs {
  display: inline;
  border: 10px;
  padding: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 500px;
  width: auto;
}
